.graph {
    width: 700px;
    height: 225px;
}

#graphs {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
}

#pane {
    position: absolute;
    top: 0;
    left: 5;
    width: 324px;
    height: 100%;
    font-family: monospace;
}

.large_graph {
    width: 700px;
    height: 400px;
}

.controls {
    text-align: right;
    padding-right: 20em;
    }
